

body {
    padding-top: 2em;
    font-family: Arial, sans-serif;
}

.navigation {
    background-color: black;
}

/*page d'accueil*/
main {
    flex-direction: column;
}
.hero{
    background-image: url("../assets/images/hero-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.hero__title{
    font-size: 2em;
}
.hero__title-first{
    color: green;
    font-weight: bolder;
}
.hero__title-two{
    color: black;
    font-weight: bold;
}
.image {
    width: 35em;
}
.martial-art {
    margin-left: 10em;
}
.martial-art__title {
    font-weight: bolder;
}
.martial-art__para {
    width: 40em;
}

/*footer*/
footer {
    background-color: black;
}

@media screen and (max-width: 768px) {
    .martial {
        width: 100%;
        flex-direction: column;
        display: flex;
    }
    .martial-art {
        margin-left: 3.5em
    }
    .martial-art__para {
        width: 15em;
    }
    .image {
        width: 25em;
    }
}