

body {
    padding-top: 2em;
    font-family: Arial, sans-serif;
}

.navigation {
    background-color: black;
}
main {
    margin: 0 auto;
    width: 90%;
}

/*page d'accueil*/
.hero{
    background-image: url("../assets/images/hero-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.hero__title {
    max-width: 900px;
}
.hero__text {
    max-width: 900px;
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
}

/*toutes les pages sauf accueil*/
.banner{
    background-image: url("../assets/images/hero2-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner__text{
    text-align: justify;
}
/*page disciplines*/


/*footer*/
footer {
    background-color: black;
}

