body {
    padding-top: 1em;
    margin: 0;
    font-family: Arial, sans-serif;
}

.navigation {
    background-color: black;
}

/*page d'accueil*/
.hero{
    background-image: url("../assets/images/hero-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.hero__title{
    font-size: 2em;
}
.hero__title-first{
    color: green;
    font-weight: bolder;
}
.hero__title-two{
    color: black;
    font-weight: bold;
}

