

body {
    padding-top: 2em;
    font-family: Arial, sans-serif;
}

.navigation {
    background-color: black;
}
main {
    margin: 0 auto;
    width: 90%;
}

/*page d'accueil*/
.hero{
    background-image: url("../assets/images/hero-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.hero__title {
    max-width: 900px;
}
.hero__text {
    max-width: 900px;
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
}

/*toutes les pages sauf accueil*/
.banner{
    background-image: url("../assets/images/hero2-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner__text{
    text-align: justify;
}

/*page actu*/
/* Desktop normal */
.saison__table {
    width: 100%;
}
/**/
.infos {
    margin-top: 7em;
}

/*les survols*/
.survol-link:hover {
    cursor: pointer;
    font-weight: bold;
}
.survol-contact:hover {
    cursor: pointer;
    background-color: green;
}
.survol-foot {
    position: relative;
}
.survol-foot::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease;
}

.survol-foot:hover::after {
    width: 100%;
}

/*footer*/
footer {
    background-color: black;
}

/* Mobile */
@media (max-width: 768px) {

    .saison__table {
        font-size: 0.75rem; /* réduit légèrement la taille */
    }

    th, td {
        padding: 0.4rem;
    }

    thead {
        font-size: 0.7rem;
    }

    td:first-child {
        font-weight: bold;
        white-space: nowrap; /* évite que le mois casse sur 2 lignes */
    }

    td {
        word-break: break-word; /* permet aux textes longs de passer à la ligne */
    }
    
}
